
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!--begin::Container-->
<div class="container">
    <!--begin::Row-->
    <div class="boderproductdetail padding_listbanner">
        <div class="row">
            <!--begin::Title-->
            <div class=" text-uppercase mt-20px center h1">GỐM SỨ BÁT TRÀNG</div>
            <!--end::Title-->
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>Sứ mệnh</strong></span></span><br />
                <li>
                    Đúng với slogan của thương hiệu, chúng tôi – Gốm Bát Tràng có sứ mệnh mang “gốm tinh hoa phụng sự mọi nhà.” Góp phần bảo tồn và phát huy làng nghề truyền thống đến với mọi miền của tổ quốc, đặc biệt là thế hệ trẻ, giúp những tinh hoa văn hóa của dân tộc không bị mai một.
                </li>
                <li>
                    Người Việt phải được dùng hàng Việt – Nhận thấy những sản phẩm gốm sứ truyền thống của Việt Nam đang dần thất thế trên chính sân nhà, Gốm Bát Tràng là tập hợp của những con người tâm huyết với nghề gốm truyền thống, muốn mang những sản phẩm gốm sứ truyền thống chất lượng tốt nhất đến tay khách hàng với giá xuất xưởng không qua trung gian.
                </li>
                <li>
                    Mỗi một sản phẩm của Gốm Bát Tràng được tạo ra và đến tay khách hàng chứa đựng tâm huyết, tinh hoa và cũng là nỗi trăn trở của những người yêu nghệ thuật truyền thống nước nhà. Cảm ơn các khách hàng đã đồng hành cùng Gốm Bát Tràng trên con đường thực hiện sứ mệnh chông gai những cũng rất thiêng liêng, ý nghĩa này.
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/gioi-thieu-gom-bat-trang-2.jpg" style="width: 615px; height: 350px; border-radius: 10px;" alt="" />
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/f1f7a56c9ef250ac09e3.jpg" style="width: 615px; height: 350px; border-radius: 10px;" alt="" />
            </div>
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>Tầm nhìn</strong></span></span><br />
                <li>
                    Thành lập từ năm 2017 – Gốm Bát Tràng đã luôn xác định tầm nhìn của mình để trở thành một trong những doanh nghiệp hàng đầu về sản xuất và thương mại gốm sứ tại Việt Nam, đưa thương hiệu Gốm Bát Tràng vươn ra khỏi biên giới hình chữ S.
                </li>
                <li>
                    Để đạt được mục tiêu này, chúng tôi – Gốm Bát Tràng Việt Nam luôn luôn xây dựng doanh nghiệp và thương hiệu với 3 điểm chính: Con người – Sản phẩm – Khách hàng. Đây chính là 3 yếu tố làm nên giá trị của Gốm Bát Tràng ngày hôm nay.
                </li>
                <li>
                    Chúng tôi tự hào có được một hệ thống nhân sự tài năng, chuyên nghiệp cùng với đó là những sản phẩm gốm sứ loại 1 Bát Tràng chất lượng cao mà hiếm có thể gặp trên thị trường. Từ đó xây dựng uy tín nơi khách hàng.
                </li>
            </div>
        </div>
        <div class="row">
            <!--begin::Title-->
            <div class=" text-uppercase mt-20px center h1">VỀ SẢN PHẨM</div>
            <!--end::Title-->
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>01 CÁC SẢN PHẨM ĐỒ THỜ</strong></span></span><br />
                Thờ cúng là một trong những tập tục Phụng sự tổ tiên của dân tộc Việt Nam, thể hiện lòng biết ơn, đạo nghĩa uống nước nhớ nguồn. Gốm Bát Tràng hân hạnh được đồng hành cùng quý khách hàng trên con đường bày tỏ lòng thành, chữ hiếu với những bộ đồ thờ gốm sứ hàng chuẩn loại 1 Bát Tràng
                <li>
                    Đồ thờ men lam truyền thống, thân thuộc
                </li>
                <li>
                    Đồ thờ men rạn hoài cổ, trầm mặc
                </li>
                <li>
                    Đồ thờ vẽ vàng sang trọng, đẳng cấp
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/gioi-thieu-gom-bat-trang-do-tho.jpg" style="width: 615px; height: 400px; border-radius: 10px;" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>02 CÁC SẢN PHẨM LỘC BÌNH</strong></span></span><br />
                Lộc bình từ xa xưa đã là một bảo vật phong thủy không thể thiếu trong những gia đình quan lại, quyền quý. Đây là pháp bảo được tạo hình trên thuyết hình khí với miệng loe rộng để hút nhiều tài lộc, cổ thắt lại để tài lộc vào nhưng khó ra, bụng phình to ra để chứa được nhiều tài lộc.&nbsp;
                Lộc bình là pháp bảo không thể thiếu để cân bằng phong thủy trong ngôi nhà của mỗi gia chủ, đặc biệt khi được đặt tại phòng khách hay phòng thờ. Giúp gia chủ chiêu tài, hút lộc, thăng quan, tiến chức&nbsp;
                Các dòng sản phẩm Lộc bình phong thủy tại Gốm Bát Tràng:
                <li>
                    Lộc bình men lam, men rạn truyền thống
                </li>
                <li>
                    Lộc bình sứ khử chất lượng cao
                </li>
                <li>
                    Lộc bình men rạn đắp nổi và đắp nổi 3D tinh xảo
                </li>
                <li>
                    Lộc bình vẽ vàng sang trọng, đẳng cấp
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/gioi-thieu-gom-bat-trang-loc-binh-694x1024.jpg" style="width: 615px; height: 400px; border-radius: 10px;" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>03 CÁC SẢN PHẨM BÌNH HÚT TÀI LỘC</strong></span></span><br />           
                <li>
                    Bình hút lộc Bát Tràng không chỉ được biết đến là pháp bảo chiêu tài của mọi nhà mà còn là vật phẩm hội tụ hồn cốt, tinh hoa văn hoá Việt. Từ kiểu dáng, nước men cho đến hoạ tiết đắp nổi đều do chính người nghệ nhân Bát Tràng dày công sáng tạo.
                </li>
                <li>
                    Bình hút lộc Gốm Bát Tràng  không chỉ đa dạng về kiểu dáng, có thể kể đến như: vò, mai bình, bảo bình, bóng, tỏi, tỳ bà,… mà còn phong phú về tích vẽ: Phú Quý Trường Xuân, Thuận Buồm Xuôi Gió, Mã Đáo Thành Cộng,… góp phần tạo nên giá trị phong thuỷ giúp trấn trạch an gia, vượng phát tài lộc, trường thọ phú quý.
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/gioi-thieu-gom-bat-trang-binh-hut-tai-loc-4.jpg" style="width: 615px; height: 400px; border-radius: 10px;" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>04 CÁC SẢN PHẨM TRANH GỐM SỨ</strong></span></span><br />
                Tranh Gốm sứ Gốm Bát Tràng là sự kết tinh tinh hoa của các loại hình nghệ thuật bao gồm hội họa, điêu khắc, đắp nổi tạo nên những sản phẩm chất lượng có giá trị nghệ thuật cao.&nbsp;
                Tranh sứ Gốm Bát Tràng ngoài dùng để tranh trí không gian nhà cửa, phòng khách, phòng ngủ mà còn có những ý nghĩa về tâm linh, giúp gia chủ cân bằng phong thủy, có tác dụng như một bức bình phong ngăn chặn những luồng khí xấu ảnh hưởng đến sức khỏe, tài lộc của gia đình&nbsp;
                Các dòng tranh sứ của Gốm Bát Tràng:
                <li>
                    Tranh phong cảnh, tích vẽ cổ, non nước… đầy tính nghệ thuật
                </li>
                <li>
                    Tranh tứ cảnh, nhị cảnh phù hợp treo ở phòng khách, phòng thờĐồ thờ men rạn hoài cổ, trầm mặc
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/tranh-su-tinh-vat-tu-canh-ve-vang-gom-bat-trang-2.jpg" style="width: 615px; height: 400px; border-radius: 10px;" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>05 CÁC SẢN PHẨM GỐM SỨ QUÀ TẶNG IN LOGO</strong></span></span><br />
                Ngoài các sản phẩm gốm sứ tâm linh truyền thống, Gốm Bát Tràng còn là đơn vị hàng đầu trong việc cung cấp các sản phẩm gốm sứ quà tặng, gốm sứ in logo cao cấp cho các doanh nghiệp, cơ quan, đoàn thể.&nbsp;
                Với kinh nghiệm nhiều năm phục vụ các đơn vị nổi tiếng như: Vietlot, Viettel, Agribank… Chắc chắn Gốm Bát Tràng sẽ không làm quý khách hàng thất vọng&nbsp;
                Tại sao nên chọn Gốm Bát Tràng là đơn vị cung cấp quà tặng gốm sứ in logo doanh nghiệp?
                <li>
                    Miễn phí thiết kế logo, lên maket sản phẩm.
                </li>
                <li>
                    Thời gian sản xuất, giao hàng nhanh chóng.
                </li>
                <li>
                    Giá thành hợp lý, phù hợp từ cá nhân đến doanh nghiệp.
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/am-chen-trang-vuong-cao-in-logo-05.jpg" style="width: 615px; height: 400px; border-radius: 10px;" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span style="font-size:30px"><span style="color: #BB0000 "><strong>06 CÁC SẢN PHẨM GỐM GIA DỤNG</strong></span></span><br />
                <li>
                    Bộ gốm sứ gia dụng Bát Tràng được chế tác từ nguồn nguyên liệu tinh tuyển, quy trình sản xuất nghiêm ngặt, nung ở nhiệt độ 1400 độ C, có khả năng cách nhiệt và chịu nhiệt tốt, hoàn toàn yên tâm khi sử dụng trong lò vi sóng,…
                </li>
                <li>
                    Thiết kế tối giản, hoạ tiết tinh tế, màu sắc trang nhã, Gốm Bát Tràng cam kết không sử dụng chì, đảm bảo sức khỏe người tiêu dùng.
                </li>
            </div>
            <div class="col-6">
                <img src="/Images/ImagesIntroduce/gioi-thieu-gom-bat-trang-gom-gom-gia-dung.jpg" style="width: 615px; height: 400px; border-radius: 10px;" alt="" />
            </div>
        </div>
    </div>
</div>
<!--end::Container-->
